<mapper namespace="com.solvd.citytransportationsystemproject.dao.ITaxiDao">

    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <resultMap id="taxiResultMap" type="Taxi">
        <id property="id" column="id"/>
        <result property="make" column="make"/>
        <result property="model" column="model"/>
        <result property="year" column="year"/>
        <result property="capacity" column="capacity"/>
        <result property="driverId" column="driver_id"/>
        <result property="licensePlate" column="license_plate"/>
        <result property="vehicleId" column="vehicle_id"/>
    </resultMap>

    <select id="getTaxiByVehicleId" parameterType="long" resultMap="taxiResultMap">
        SELECT * FROM taxis WHERE vehicle_id = #{vehicleId}
    </select>

    <select id="getAllTaxis" resultMap="taxiResultMap">
        SELECT * FROM taxis
    </select>

    <insert id="insert" parameterType="Taxi">
        INSERT INTO taxis (id, make, model, year, capacity, driver_id, license_plate, vehicle_id)
        VALUES (#{id}, #{make}, #{model}, #{year}, #{capacity}, #{driverId}, #{licensePlate}, #{vehicleId})
    </insert>

    <update id="update" parameterType="Taxi">
        UPDATE taxis SET
        make = #{make},
        model = #{model},
        year = #{year},
        capacity = #{capacity},
        driver_id = #{driverId},
        license_plate = #{licensePlate},
        vehicle_id = #{vehicleId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM taxis WHERE id = #{id}
    </delete>

</mapper>
